body {
  margin: 0;
  font-family: 'RobotoRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(./fonts/Roboto_Condensed-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(./fonts/Roboto-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoRegular';
  src: local('Roboto'), local('Roboto Regular'), url(fonts/Roboto-Regular.ttf) format('truetype');
}
